
:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

    --tamanioCuerposDeTexto: 12px;
    --tamanioTitulares: 24px;
    --tamanioPrecios: 18px;
    --tamanioDescuentos: 16px;
    --tamanioDescripciones: 16px;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family:  Roboto;
    font-size: var(--tamanioCuerposDeTexto);
    background-color: var(--colorGrisClaro);
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: var(--tamanioTitulares);
    color: var(--colorGrisOscuro);
}

.descripcion{
    font-size: var(--tamanioDescripciones);
    color: var(--colorGrisOscuro);
}

body ul{
    list-style: none;
}



